/* Universal Styles */
body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  z-index: 2;
  position: fixed;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  height: 80px;
}

.logo {
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: mediumAquamarine;
  margin-left: 10px;
}

header nav {
  padding: 0 30px;
}

/* Main Content */
.main {
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

.column {
  margin-right: 30px;
}

  /* Column One  */
.large {
  width: 630px;
}

.stories {
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  width: 300px;
}

.text-content {
  height: 250px;
}

/* Column Two */
.medium {
  width: 300px;
}

/* Column Three */
.small {
  width: 240px;
}


.news-bites h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
}

.bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: DimGray;
}

/* Footer */
footer {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer nav {
  display: inline-block;
}

.title {
  display: inline-block;
  border-right: 2px solid white;
  padding-right: 25px;
}

.info span {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.info nav {
  padding-left: 25px;
}


/* Images */
#lead {
  background-image: url("../images/drinks.png");
  margin-top: 0;
  width: 630px;
}

#lead span {
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
}

#twilight {
  background-image: url("../images/twilight.png");
}

#hipster {
  background-image: url("../images/hipster.png");
}

#cat {
  background-image: url("../images/cat.png");
}

.image-content {
  justify-content: center;
  height: 300px;
  margin-top: 15px;
}

.image-content span {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
